header {
  background-color: grey;
}
.logoImg {
  width:80px
}
.logo {
  margin:5px;
}
.navContainer {
  padding:10px;
  margin:2px;
}
@media screen and (max-width: 720px) {
  .navContainer {
    margin:5px;
    text-align: center;
  }
  h5 {
    margin:20px;
  }
  .spacer {
    display:none;
  }
}